
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /*************** BODY & HEADER ******************/
  
  body {
    font-family: 'Poppins', sans-serif;
   /* background: #D7F9F4; */
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
    align-items: center;

  }
  
  /* Header Styles */
  
  h1 {
    text-align: center;
    color: #97D9E1;
    font-size: 35px;
    padding: 30px 15px 15px 15px;
  }
  
  h3 {
    text-align: center;
    /*color: #0d9c90;*/
    color: rgb(41, 48, 48);
    font-size: 40px;
    padding: 5px;
  }

  
  
  /**************** MEMORY CARDS ******************/
  
  /* This is the container that holds all of the memory cards */
  main {
    width: 100%;
  }
  
  .card-container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
  }
  
  .intro-text {
    width: 90%;
    margin: 0 auto;
    padding: 0.5em 0;
    color:rgb(41, 48, 48);;
    text-decoration: wavy;
    font-size: 20px;
    font-weight: bold;
    padding: 1em 1em;
  }
  
  .memory-card {
    width: 90%;
    margin: 0.5em auto;
    background-color: #0d9c90; 
    box-shadow: #97D9E1;
    border-radius:  6px; 
    justify-content: center;
  }
  
  .memory-image {
    width: 90%;
    margin: 0 auto;
    padding: 1.2em 1em;

  }
  
  .memory-image img {
    border-radius: 6px;
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
  }
  
  .description {
    width: 90%;
    margin: 0 auto;
    padding: 1em 1em;
  }
  
  
  .description p {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    text-align: center;
  }
  
  .description h2 {
    padding-bottom: 0.5em;
    text-align: center;
    color: white;
  }
  
  

  
  /* Add flexbox styles here! */

  .card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

  }

  .memory-card{
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 48%;
    margin: 1% ;
  }

  /* Hover effects */
  .memory-card:hover .memory-image{
transform: translateY(40px);

  }
  .card-container:hover .memory-card{
    transform: translate(-80px);
  }